<style>
 .header{
   background: #878787;

   text-align: center;
   font-size: 1rem;
   color: white;
 }
 .navigation{
   display: block;
   background: #384357;
   padding: .4rem;
   font-size: 1.15rem;
   text-align: left;
   column-span: all;

 }
 .navigation a{
   color: white;
   text-align: center;
   padding: .6rem .75rem;
   text-decoration: none;
 }
 .navigation a.right{
   float: right;
   position: relative;
   top: -.6rem;
 }
 .navigation a.active{
   background-color: #384357;
   color: white;
 }
 .navigation a:hover{
   color: white;
   background-color: #89a8e8;
 }
 body{
   margin: 0;
   background-color: #384357;
   5891a6
   /*
old--384357
   */
 }

 #rotating-large{
   background-color:red;
   width:25.0rem;
   height:25.0rem;
   margin:2.0rem auto;
   animation: rescale 8s infinite;
   position: relative;
   top: 17.0rem; <!-- this changes the hieght position of the rotating logo-->
   z-index: 2;
   border-radius: .7rem;
 }
 #rotating-large-blind{
   background-color: #384357;
   width:23.6rem;
   height:23.6rem;
   margin:2.0rem auto;
   position: relative;
   top: .7rem;
   z-index: 1;
   border-radius: 1rem;
 }

#rotating-small{
  border-radius: 1rem;
  position: relative;
  top: .3rem;
  left: .3rem;
  z-index: 1;
  border: .7rem solid blue;
  width: 21.6rem;
  height: 21.6rem;
  animation: antirotation 4s infinite;
}
 .logo{
   font-size: 7.0rem;
   position: relative;
   display: block;
   z-index: 3;
   bottom: 3.2rem;
   text-align:center;
   font-family: 'Saira Stencil One', cursive;;
   color: white;
 }

 .tab {
  overflow: hidden;


}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: .6rem;
  font-size: 1.2rem;
  color: white;

}

.tab button:hover {


}

.tab button.active {
filter: brightness(200%);
}

.tabcontent {
  display: none;
  border-top: none;
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
 @keyframes rescale{
   0% {
     transform:rotate(0deg);
   }100%
    {transform:rotate(360deg); <!-- rotates logo view these key frames-->
   }
 }
 @keyframes antirotation{
   0% {
     transform:rotate(0);
   }100%
    {transform:rotate(-360deg); <!-- rotates logo view these key frames-->
   }
 }
 .image{
   width: 20%;
   border-radius: 1rem;
   border: .4rem solid;
   border-color: black;
   display: inline-block;
   position: relative;
   float: left;
   margin: 2rem;
 }

 p{
   font-size: 1.2rem;
   color: white;

 }
 .topic-description{
   top: -18rem;
   left:22rem;
   overflow: auto;
   word-wrap:break-word;
   padding-right:auto;
   padding-top: 1.5rem;
   width: 90%;
   float: left;
   display: inline-block;
   margin: 1rem;

 }
 .topic-header{
   position: relative;
   top: .5rem;
   font-size: 4rem;
   color: white;
   left: 2rem;
   margin-left: 25%;

   column-span: all;
 }
 .status{
   position: relative;
   top: .5rem;
   margin-bottom: 2rem;
   font-size: 1.5rem;
   color: yellow;
   margin-left: 25%;
   padding-left: 1rem;
   column-span: all;
 }
 .status-notifier{
   position: relative;
   top: .5rem;
   font-size: 1.5rem;
   color: white;
   margin-bottom: 2rem;
   column-span: all;
 }
 .subsystem-pos{
   margin-left: 25%;
 }
 .info{
   margin-left: auto;
   margin-right: auto;
   width: 50% ;
   padding-left:1rem;
   padding-right: 1rem;
 }
 #image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 1rem;
   border: .4rem solid;
   border-color: black;
 }
 #double-div{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   height: auto;
 }
#double-image{
  width: 45%;
  border-radius: 5%;
  border: .4rem solid;
  border-color: black;
  margin: 0;
}
 @media only screen and (max-width: 1100px) {
   .info{
     width: 80%;
   }

 #image{
   width:80%;
 }
 .topic-header{
   margin-left: 10%;
 }
 .status{
   margin-left: 10%;
 }
#double-div{
  width:80%;
}
#double-image{
  width: 46%;
}
.subsystem-pos{
  margin-left: 10%;
}
}
@media only screen and (max-width: 700px) {
  .image{
    width: 35%;
    border: .4rem solid;
    border-color: black;
    display: inline-block;
    position: relative;
    float: left;
    margin: 1rem;
}

.status{
  margin-left: auto;
  padding-left: 1.5rem;
font-size: 1.25rem;
}
.status-notifier{
  font-size: 1.25rem;
}

#rotating-large{
width: 17.5rem;
height:17.5rem;
top: 8rem;

}
#rotating-large-blind{
  width: 16.52rem;
  height: 16.52rem;
  top: .49rem;
}

#rotating-small{
  width: 15.12rem;
  height: 15.12rem;
  top: 0rem;
  left: 0
}
.logo{
font-size: 3.9rem;
bottom: 6rem;
}
p{
  font-size: 1rem;
  color: white;
}
  .info{
    text-align: left;
    width: auto;
}
#image{

  width: 90%;


}
.topic-header{
  margin-left: auto;
  font-size: 2.5rem;
}
.subsystem-pos{
  margin-left: auto;
}
#double-div{
  width:95%;
}
#double-image{
  width: 45%;
}
.tab button{
  padding: .5rem;
  font-size: 1rem;
}
.navigation{
  font-size: .85rem;
}
}


</style>
